{%extends 'features/base/base.html'%}

{%block main%}
    <div class="content">
        <div class="L-container silmulate-calendar-container">
            <section class="silmulate-calendar">
                <div class="section-title">
                    <h1>
                        Simulate Calendar
                    </h1>
                </div>
                {% for simulate_calendar in simulate_calendar_posts %}
                    <div class="L-transparent-card info-card">
                        <div class="title">
                            {{simulate_calendar.header}}
                        </div>
                        <div>
                            <p>By: {{simulate_calendar.author}}, {{simulate_calendar.date}}</p> 
                        </div>
                        <div class="desc">
                            {{simulate_calendar.desc}}
                        </div>
                        <a class="action" target="_blank" href="{{simulate_calendar.source}}">
                            Find out more
                            <span aria-hidden="true">
                              →
                            </span>
                        </a>
                    </div>
                    
                {%endfor%}
                    
                <a id="send_mail"  href="{{url_for('send_mail')}}">
                    <span aria-hidden="true">
                        Click this if you want us to remind you about your pig's farrowing date?
                    </span>
                </a>
            </section>            
        </div>        
    </div>
{%endblock%}