{%extends 'features/base/base.html'%}

{%block main%}
    <div class="content">
        <div class="facts-container L-container">
            <section class="facts">
                <div class="section-title">
                    <h1>
                        Facts about pigs
                    </h1>
                </div>
                <div class="L-transparent-card fact-card pig-resume">
                    {% for fact in facts_resume %}
                        <div>
                            <div class="title">
                                {{fact.title}}:
                            </div>

                            <span>
                                {{fact.desc}}
                            <span>
                            
                        </div>
                    {%endfor%}
                    <a class="action"  target="_blank" href="{{urls[1]}}">
                        Find out more
                        <span aria-hidden="true">
                            →
                        </span>
                    </a>
                </div>

                {% for fact in facts %}
                    <div class="L-transparent-card fact-card info-card">
                        <div class="title">
                                {{fact.title}}
                        </div>
                        <div class="desc">
                                {{fact.desc}}
                        </div>
                    </div>
                {%endfor%}

            </section>
            
        </div>
        
    </div>
{%endblock%}