{%extends 'features/base/base.html'%}
{%block main%}
    <div class="content">
        <div class="facts-container L-container">
            <section class="facts">
                {% for fact in fact_posts %}
                    <div class="section-title">
                        <h1>
                            {{fact.header}}
                        </h1>
                        <p class="author">By: {{fact.author}}, {{fact.date}}</p> 
                    </div>
                    <div class="L-transparent-card fact-card info-card">
                        
                        <div class="desc">
                            {{fact.desc}}
                        </div>
                        <div>
                            <p>Credits: {{fact.source}}</p>
                        </div>
                    </div>
                    {%if fact.img%}
                        <div class="L-transparent-card info-card info-card-img ">
                            <img src="{{ url_for('static', filename='img/' + fact.img ) }}" alt="" class="disease-img"> 
                            {%if fact.img_credits%}
                                <p>Source: {{fact.img_credits}}</p>
                            {%else%}
                                <p>Source: Not Available</p>
                            {%endif%}
                        </div>
                    {%endif%}
                {%endfor%}
            </section>
        </div>
    </div>
{%endblock%}