{%extends 'base.html'%}

{%block main%}
    <div class="content">
        <div class="refresh">
            <form action="{{url_for('price_scrape')}}" method="post" enctype="multipart/form-data" >              
                <button type="submit" name="scrape-button" value="Scrape Refresh" id="scrape-button" class="ui-btn">
                    <span>
                        Refresh 
                    </span>
                </button>
            </form>
        </div>


        <div class="news-container">
            
            <div class="news-card">
                <div class="image"></div>
                 <div class="card-content">
                   <a href="#">
                     <span class="title">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     </span>
                   </a>
               
                   <p class="desc">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                     dolores, possimus pariatur animi temporibus nesciunt praesentium 
                   </p>
               
                   <a class="action" href="#">
                     Find out more
                     <span aria-hidden="true">
                       →
                     </span>
                   </a>
                </div>
            </div>
            <div class="news-card">
                <div class="image"></div>
                 <div class="card-content">
                   <a href="#">
                     <span class="title">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     </span>
                   </a>
               
                   <p class="desc">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                     dolores, possimus pariatur animi temporibus nesciunt praesentium 
                   </p>
               
                   <a class="action" href="#">
                     Find out more
                     <span aria-hidden="true">
                       →
                     </span>
                   </a>
                </div>
            </div>
            <div class="news-card">
                <div class="image"></div>
                 <div class="card-content">
                   <a href="#">
                     <span class="title">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     </span>
                   </a>
               
                   <p class="desc">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                     dolores, possimus pariatur animi temporibus nesciunt praesentium 
                   </p>
               
                   <a class="action" href="#">
                     Find out more
                     <span aria-hidden="true">
                       →
                     </span>
                   </a>
                </div>
            </div>
            <div class="news-card">
                <div class="image"></div>
                 <div class="card-content">
                   <a href="#">
                     <span class="title">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     </span>
                   </a>
               
                   <p class="desc">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                     dolores, possimus pariatur animi temporibus nesciunt praesentium 
                   </p>
               
                   <a class="action" href="#">
                     Find out more
                     <span aria-hidden="true">
                       →
                     </span>
                   </a>
                </div>
            </div>
            <div class="news-card">
                <div class="image"></div>
                 <div class="card-content">
                   <a href="#">
                     <span class="title">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     </span>
                   </a>
               
                   <p class="desc">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                     dolores, possimus pariatur animi temporibus nesciunt praesentium 
                   </p>
               
                   <a class="action" href="#">
                     Find out more
                     <span aria-hidden="true">
                       →
                     </span>
                   </a>
                </div>
            </div>
            <div class="news-card">
                <div class="image"></div>
                 <div class="card-content">
                   <a href="#">
                     <span class="title">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     </span>
                   </a>
               
                   <p class="desc">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                     dolores, possimus pariatur animi temporibus nesciunt praesentium 
                   </p>
               
                   <a class="action" href="#">
                     Find out more
                     <span aria-hidden="true">
                       →
                     </span>
                   </a>
                </div>
            </div>
        </div>
        
        
        
    </div>
{%endblock%}