{%extends 'features/base/base.html'%}
{%block main%}
    <div class="content">
        <div class="nutritions-container L-container">
            <section class="nutrition">
                {% for nutrition in nutrition_posts %}
                    <div class="section-title">
                        <h1>
                            {{nutrition.header}}
                        </h1>
                    </div>
                    <div class="L-transparent-card nutrition-card info-card">
                        <div>
                            <p>By: {{nutrition.author}}, {{nutrition.date}}</p>
                        </div>
                        <div class="desc">
                            {{nutrition.desc}}
                        </div>
                        <div>
                            <p>Credits: {{nutrition.source}}</p>
                        </div>
                    </div>
                    <div class="L-transparent-card info-card info-card-img ">
                        <img src="{{ url_for('static', filename='img/' + nutrition.img ) }}" alt="" class="disease-img"> 
                        {%if nutrition.img_credits%}
                            <p>Source: {{nutrition.img_credits}}</p>
                        {%else%}
                            <p>Image source: Not Available</p>
                        {%endif%}
                    </div>
                {%endfor%}
            </section>
        </div>
    </div>
{%endblock%}