{%extends 'features/base/base.html'%}


{%block main%}
<!-- Decision trees and Rule-Based system.... linear search algorithm -->
    <div class="content ">
        <div class="L-container">
            <section class="possible-disease">
                <div class="section-title">
                    Possible disease/diseases
                </div>
                <div class="links">
                    <ol>
                        {%for disease in possible_diseases_db %}
                            <li>
                                <a href="{{url_for('disease_desc', disease = disease)}}">
                                    {{disease}}
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                    
                </div>
                <div class="group-btn">
                    <button class="ui-btn" onclick="history.back()" >Go Back</button>
                </div>
            </section>
        </div>
    </div>
{%endblock%}