{%extends 'base.html'%}


{%block main%}
<!-- Decision trees and Rule-Based system.... linear search algorithm -->
    <div class="content symptom-analysis">
        {%for symptom in user_input_symptom %}
            
            <div class="symptom_desc">
                <h3 class="title">
                    {{symptom }}
                </h3>
            </div>
        
        {% endfor %}

        {%for disease in possible_disease_db %}
            
            <a href="{{url_for('disease_desc', disease = disease)}}">
                <div class="title">
                {{disease}}
                </div>
            </a>
        
        {% endfor %}
        <button id="go_back" >Go Back</button>
    </div>
<script>

</script>
{%endblock%}