{%extends 'features/base/base.html'%}

{%block main%}
<!-- Decision trees and Rule-Based system.... linear search algorithm -->
    <div class="content">
        <div class="L-container">
            <section class="symptom-analysis">
                <div class="section-title">
                    Symptoms
                    <div class="search-container">
                        <form action="#">
                        <input id="search" type="text" placeholder="Enter your symptom search" name="search">
                        <button type="submit"><i class="fa fa-search "></i></button>
                        </form>
                    </div>
                </div>
                
                <div class="content symptom-analysis">
                    <form  method="POST" novalidate>
                        <div class="group-btn">
                            {{form.submit_field(class_="ui-btn")}}
                        </div>
                        {{ form.hidden_tag() }}
                        {% for subfield in form.symptoms_field %}
                            <div class="checkbox">
                                {{ subfield(class_='checkbox-inline') }}
                                {{ subfield.label.text }}
                            </div>
                        {% endfor %}
                        
                    </form>
                </div>
            </section>
        </div>
    </div>
    {% if form.symptoms_field.errors %}
        <div class="alert alert-warning">
            {% for error in form.symptoms_field.errors %}
                <span id="symptom_error">{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Searching algorithm -->
    <script>
        var search_field = document.getElementById('search')
        var symptoms = document.querySelectorAll(".checkbox")

        search_field.addEventListener('keyup', ()=>{
        symptoms.forEach(function (symptom){
            let choices = symptom.textContent.toUpperCase().trim()
            let input = search_field.value.toUpperCase()

            if (choices.includes(input)){
            symptom.style.display = 'block'
            }
            else{
            symptom.style.display = 'none'
            }
        })
        })


        
        
    </script>
{%endblock%}