{%extends 'features/base/base.html'%}

{%block main%}
    <div class="content">
        <div class="L-container types-container">
            <section class="common-types">
                <div class="section-title">
                    <h1>
                        Types of pigs
                    </h1>
                </div>
                {% for post in type_posts %}
                <div class="transparent-card types-card ">
                    <div class="image">
                        <img src="{{ url_for('static', filename='img/' + post.img ) }}" alt="PigCare">
                    </div>
                     <div class="card-body">
                        <div class="title">
                        {{post.header}}
                        </div>
                        <div class="desc" name="description">
                            {{post.desc}}
                        </div>
                    </div>
                    
                    <a class="action"  target="_blank" href="{{post.source}}">
                        Find out more
                        <span aria-hidden="true">
                          →
                        </span>
                    </a>
                </div>
                {% endfor %}
            </section>
        </div>
    </div>
{%endblock%}