<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pigcare</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for ('static', filename = 'style.css') }}">
    <link rel="stylesheet" href="{{url_for ('static', filename = 'fonts.css') }}">
</head>
<body>

    
    {%if selected == 'dashboard' %}
      {%include 'admin/navbar.html'%}
      {%include 'admin/sidebar.html'%}       
      {%else%}
        {%include 'navbar.html'%}
        {%include 'sidebar.html'%}
    {%endif%}
    {%if selected == 'login'%}
      <link rel="stylesheet" href="{{url_for ('static', filename = 'login.css') }}">  
      <script>
        var header = document.getElementById('main-header')
        var sidebar = document.querySelector('.sidebar')
        header.classList.toggle('hide')
        sidebar.classList.toggle('hide')
      </script>
    {%endif%}
    
    <main>
      {%block main%}
      {%endblock%}
    </main>
    

</body>
<script src="{{url_for ('static', filename = 'main.js') }}"></script>
</html>