{%extends 'admin/base/base.html'%}

{%block main%}
    <div class="content">
        <div class="price-container">
            {% for message in get_flashed_messages() %}
                <div class="alert ">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="refresh ui-btn">
                <a href="{{url_for('price_scrape')}}" >
                    Refresh
                </a>
            </div>
            
            <!-- Pork with bones price -->
            <div class=" price-card">
                <div class="price-card-inner">
                    <div class="price-card-front">
                        <p class="header">
                            Pork with Bones
                        </p>
                        <p class="title">
                            {{ pork_with_bones.price }}
                        </p>
                    </div>
                    <div class="price-card-back">
                        <p class="title">
                            {{ pork_with_bones.header }}
                        </p>
                        <p class="header">Pork with Bones</p>    
                        <p class="price">{{ pork_with_bones.price }}</p>

                        <p>as of: {{ pork_with_bones.date_of_price }}</p>

                        <div class="card-footer">
                            For more information:
                            <a href="{{ pork_with_bones.href }}">
                                {{ pork_with_bones.a }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Live weight -->
            <div class="price-card">
                <div class="price-card-inner">
                    <div class="price-card-front">
                        <p class="header">
                            Live weight
                        <p>
                        <p class="title">
                            {{ live_weight.price }}
                        </p>
                    </div>
                    <div class="price-card-back">
                        <p class="title">
                            {{ live_weight.header }}
                        </p>
                        <p class="header">
                            Live weight
                        </p>    
                        <p class="price">{{ live_weight.price }}</p>
                        <p>{{ live_weight.date_of_price }}</p>

                        <div class="card-footer">
                            For more information:
                            <a href="{{ live_weight.href }}">
                                {{ live_weight.a }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pork kasim -->
            <div class="price-card">
                <div class="price-card-inner">
                    <div class="price-card-front">
                        <p class="header">
                            Pork Kasim
                        <p>
                        <p class="title">
                            {{ pork_kasim.price }}
                        </p>
                    </div>
                    <div class="price-card-back">
                        <p class="title">
                            {{ pork_kasim.header }}
                        </p>
                        <p class="header">
                            Pork Kasim
                        </p>    
                        <p class="price">{{ pork_kasim.price }}</p>
                        <p>as of: {{ pork_kasim.date_of_price }}</p>

                        <div class="card-footer">
                            For more information:
                            <a href="{{ pork_kasim.href }}">
                                {{ pork_kasim.a }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
{%endblock%}